@import url(../../../stylesheets/application.css);

a, a:link, a:visited, a:hover {
	color: #541027;
	outline: 0 none;
}
body {
	background: #664858;
	color: #333333;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
	font-size: 12px;
}
blockquote {
	color: #666666;
	font-style: oblique;
	margin: 1em 0 0 2%;
}
blockquote p {
	margin: 0;
}
blockquote + p {
	margin: 10px 0 25px;
}
blockquote blockquote + p {
	margin: 10px 0 15px;
}
#header h1 {
	background: url("../images/logo.png") no-repeat 0 0;
	font-size: 18px;
	font-weight: bold;
	margin: 18px 0 0 1%;
	padding: 17px 0 20px 140px;
	text-shadow: 1px 1px 1px #000000;
}
#quick-search input[type="text"] {
	border-radius: 5px 0 0 5px;
}
#quick-search select {
	border-radius: 0 5px 5px 0;
}
h2 {
	padding: 0;
}
#wrapper {
	background: #664858;
}
#top-menu {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.698);
    bottom: 0;
    font-size: 90%;
    padding: 10px 2% 5px;
    position: fixed;
    width: 96%;
    z-index: 10;
}
#top-menu a {
	border-right: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 100%;
	padding: 0 10px 0 0;
	text-shadow: 1px 1px 1px #000000;
}
#top-menu #account a {
	border: 0 none;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}
#loggedas {
	margin: 0;
}
#header {
	background: #664858;
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 96%;
}
#main {
	background: #fff;
	margin: 0 auto;
	width: 100%;
}
#sidebar {
	background: #fff;
	min-height: 400px;
	padding: 1% 3% 1% 1%;
	width: 15%;
}
#sidebar a {
	color: #555;
}
#sidebar h3 {
	color: #333;
	font-size: 13px;
	margin: 16px 0 5px;
}
#sidebar p {
	color: #555;
	margin: 0;
}
#content {
	background: #fff;
	border: 0 none;
	min-height: 400px !important;
	padding: 2% 1% 1% 3%;
    width: 77%;
}
.nosidebar #content {
	border-radius: 5px;
}
#footer {
	background: #664858;
	border: 0px;
	color: #FFFFFF;
	margin: 0 auto 35px;
	padding: 10px 0;
	width: 96%;
}
#footer a {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
}

/* Menu principal */
#main-menu {
	bottom: 0;
	clear: both;
	display: inline-block;
	left: 0;
	margin: 0 0 0 3px;
	position: static;
}
#main-menu li {
	margin: 0 3px 0 0;
	width: 110px;
}
#main-menu li a {
	background: #875767;
	background: -moz-linear-gradient(center top, #875767, #916a78);
	background: -webkit-gradient(linear, left top, left bottom, from(#875767), to(#916a78));
	border-radius: 3px 3px 0 0;
	box-shadow: -1px -1px 1px #444;
	color: #fff;
	font-weight: bold;
	height: 14px;
	padding: 5px 0 4px;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
}
#main-menu li a:hover {
	background: #6d3447;
	background: -moz-linear-gradient(center top, #6d3447, #7e505f);
	background: -webkit-gradient(linear, left top, left bottom, from(#6d3447), to(#7e505f));
}
#main-menu li a.selected, #main-menu li a.selected:hover {
	background: url("../images/menu-active.png") no-repeat 0 0;
	color: #333333;
	text-shadow: 0 0 0;
}

/* TABLES */
table.progress td.closed {
	background: #4A273A;
}

/* Tables */
table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #999999;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
.issue {
	border-radius: 5px;
}
table.list tr.issue a { color: #666; }

tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }

tr.overdue td.due_date {
	color: #990000;
	font-weight: bold;
}
/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] { background-color: #f2f2f2; color: #222222; border: 1px outset #cccccc; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }

/* Fields */
input[type="text"], textarea, select { padding: 2px; border: 1px solid #d7d7d7; }
input[type="text"] { padding: 3px; }
input[type="text"]:focus, textarea:focus, select:focus { border: 1px solid #888866; }
option { border-bottom: 1px dotted #d7d7d7; }

/* Misc */
.box {
	background-color: #fcfcfc;

}
.wiki-edit {
	height: 300px !important;
}
